.books {

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__new-book-button {

    a {
      text-decoration: none;
      color: black;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;

    &__item {
      display: flex;      
      border: 1px solid #b4b4b4;
      border-radius: 4px;
      margin: 0 32px 32px 32px;
      padding: 32px;

      &__description {
        flex: 2;
        margin: 0 32px;

        h4 {
          margin-top: 0;
        }
      }

      &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      img {
        height: 200px;
      }
    }
  }
}