.search {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__view-mode {
    display: flex;
    justify-items:center;
    align-items: center;

    span {
      margin-left: 24px;
      cursor: pointer;
    }
  }

  &__view-mode-active {
    font-weight: bold;
    text-decoration: underline;
  }  

  ul {
    list-style-type: none;
    padding: 0;
  }

  &__list-small {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    grid-gap: 24px;
  }

  &__books-summary {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 24px;
    right: -4px;

    &__content {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      border-left: 1px solid grey;
      background-color: white;
      border-radius: 4px;
      width: 150px;
      padding: 12px;
    }

    &__text {
      color: grey;
    }

    &__number {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.add-item-animated {
  position: absolute;
  right: 40px;
  height: 50px;
  width: 50px;
  background-color: red;
  animation: 2s infinite running slidedown;
  z-index: 1;

  &-item {
  }
}

@keyframes slidedown {
  0% {
  }
  100% {
    bottom: 40px;
  }
}