.search-book { 
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 16px;
  
  h4 {
    margin-top: 0px;
    margin-bottom: 8px;
  }

  &-small {
    margin-bottom: 8px;
    padding: 8px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__new-book-button {

    a {
      text-decoration: none;
      color: black;
    }
  }
  
  &__content {
    position: relative;
    display: flex;
    padding-bottom: 16px;
    padding-top: 24px;

    &-large {
      img {
        min-width: 130px;
      }
    }
  
    &-small {
      padding-bottom: 8px;
      padding-top: 8px;
      min-height: 160px;

      img {
        width: 100px;
      }

    }
  }

  &__actions {
    position: absolute;
    top: -24px;
    right: 0;

    &-small {
      top: auto;      
      bottom: 0px;
      right: 0px;
    }

    &__add {
      margin-right: 8px;
    }
  }

  &__description {
    flex: 2;
    margin: 0 12px;
    overflow: hidden;

    p {
      text-overflow: ellipsis;
      max-height: 190px;
    }

    h4 {
      margin-top: 0;
    }

    &-small {

      p {
        max-height: 150px;
      }
    }

    &__synopsis {

      &-small {
        display: none;
      }
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-small {

      p {
        margin: 0;
      }
    }
  }
}